# Database Credentials
POSTGRES_DB=asms_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_PORT=5432

# Connection String
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=asms_db;Username=postgres;Password=rrRR##12

# JWT & API Keys
JWT_SECRET_KEY=your_jwt_secret_key
FRONTEND_URL=http://localhost:3000